# SBT
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp/

# Scala
*.class
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/
.metals/
.bloop/

# Mac
.DS_Store

# Output directories
output/

# Spark
metastore_db/
derby.log
spark-warehouse/ 